.page-content {
    max-width: 1080px;
}


/* .mdl-card-picture {
	 background:url('/ressources/img/plug.png') center center #324a5e;
	    background-size: cover;
}

.mdl-card-picture2 {
	 background:url('/ressources/img/led2.png') center center #324a5e;
	    background-size: cover;
} */

.disabled {
	    pointer-events: none;
    opacity: 0.4;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

	.bottom {
			position: absolute;
			bottom: 0;
			margin-bottom: 20px;
		}

		.bottom-right {
		position: fixed;
    display: block;
    right: 0;
    bottom: 0;
padding-bottom: 23px;
			padding-right: 23px;
    z-index: 900;
		}
		
		.center {
			display: flex;
			justify-content: center;
		}

.mdl-button--fab{
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.mdl-button--fab:hover{
    box-shadow: 0 0 8px rgba(243, 197, 197, 0.18),0 8px 16px rgba(0,0,0,.36);
	}

.mdl-color--primary {
  background-color: rgb(2,149,170) !important; }

.mdl-color--accent {
  background-color: rgb(253,106,51) !important; }

.mdl-color-text--primary {
  color: rgb(63,81,181) !important; }

.mdl-color-text--accent {
  color: rgb(253,106,51) !important; }

 .mdl-layout-title--menu {
    position: relative;
    height: 160px;
}

.mdl-layout__drawer>.mdl-layout-title{
	padding-left: initial;
}

.logo-menu{
	height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 20px;
}

  .mdl-drawer-separator {  /* séparateur dans le menu de gauche */
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }